body {
    margin: 0;
}

.header, .gallery, .gallery, .bottom, .footer {
    padding: 0 20%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1F2937;
    border: 2px solid black;
    color: white;
}

.top-header {

    display: flex;
    justify-content: space-between;
}

.bottom-header {
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.right-links {
    align-content: center;
}

.right-links a {
    text-decoration: none;
    color: white;
}

